*.kate-swp
*.pyc
*~
.DS_Store
.vscode/
__init__.py
__pycache__
googleCalOAuth.json
master.php
secret_stuff.php
secret_stuff.py
secret_stuff.sh
wow.curseforge.com
wowapi/battle.net_api_key
www.wowace.com